@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:wght@100&display=swap');
* {
    padding: 0%;
    margin: 0%;
}

body {
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #11245a;
    font-family: 'Didot';
    font-style: normal;
    font-size: 52px;
    line-height: 72px;
    /* or 138% */
    letter-spacing: -0.015em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
    font-weight: 700;
    transition: all 0.45 ease;
}

img {
    width: 100%;
}

small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.image {
    width: auto;
}

.navbar-nav .nav-link {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.para2 {
    width: 386px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.hlink {
    font-family: 'Futura';
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #0c0b0b;
    /* Inside auto layout */
}

.st1 {
    color: #FFFFFF;
}

.btn1 {
    font-family: 'Futura';
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* Primary Dark */
    color: #CC574E;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 12px 28px;
    height: 35px;
}

.icon-box {
    font-size: 32px;
    color: #F28077;
}

.title-sm {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.serviceh3 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    /* or 200% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.mainh1 {
    width: 538px;
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    /* or 138% */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.h1 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    display: flex;
    color: #F28077;
}

.whatsapp {
    text-decoration: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.para {
    width: auto;
    font-family: 'Futura';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.6);
}

.para21 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.para22 {
    width: 210px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.h2 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.choose {
    padding: 40px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.h6 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #F28077;
}

.para1 {
    width: auto;
    height: 60px;
    left: 200px;
    top: 395px;
    font-family: 'Futura';
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.6);
}

.link {
    text-decoration: none;
    width: 28px;
    font-family: 'Futura';
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    word-spacing: 100px;
}

#Benifits {
    background: rgba(242, 128, 119, 0.05);
}

.stars {
    color: goldenrod;
}

.footer {
    width: 100%;
    height: 0%;
    background: #000000;
}

.icon {
    font-size: 50px;
}

.img1 {
    width: 15%;
}

strong {
    font-size: large;
}

.img2 {
    width: 68%;
}

#Home {
    top: auto;
    width: 100%;
    background: linear-gradient(72.78deg, rgba(255, 118, 98, 0.5), rgba(196, 196, 196, 0), rgba(255, 119, 99, 0.5)), url(../img/photo.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    height: 900px;
}

#Home2 {
    top: auto;
    width: 100%;
    background: linear-gradient(72.78deg, rgba(255, 118, 98, 0.5), rgba(196, 196, 196, 0), rgba(255, 119, 99, 0.5)), url(../img/partner.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    height: 900px;
}

#Home6 {
    top: auto;
    width: 100%;
    background: linear-gradient(72.78deg, rgba(255, 118, 98, 0.5), rgba(196, 196, 196, 0), rgba(255, 119, 99, 0.5)), url(../img/blog.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    height: 900px;
}

#Home8 {
    top: auto;
    width: 100%;
    background: linear-gradient(72.78deg, rgba(255, 118, 98, 0.5), rgba(196, 196, 196, 0), rgba(255, 119, 99, 0.5)), url(../img/social.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    height: 900px;
}

#Home9 {
    top: auto;
    width: 100%;
    background: linear-gradient(72.78deg, rgba(255, 118, 98, 0.5), rgba(196, 196, 196, 0), rgba(255, 119, 99, 0.5)), url(../img/policies.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    height: 900px;
}

p {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: -0.015em;
}

.h4 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #F28077;
}

.btn7 {
    width: 105px;
    height: 48px;
    /* or 214% */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    background: #F28077;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    font-family: 'Futura';
    font-size: 16px;
    line-height: 24px;
}

.polh1 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 52px;
    /* identical to box height, or 100% */
    align-items: center;
    letter-spacing: -0.015em;
    /* White */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.links {
    text-decoration: none;
    width: 210px;
    font-family: 'Futura';
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    letter-spacing: -0.015em;
    color: #F28077;
}

.para3 {
    top: 523px;
    position: static;
    width: 244px;
    font-family: 'Futura';
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.colon {
    position: absolute;
    width: 75px;
    color: #F28077;
    object-fit: contain;
}

.para4 {
    width: 275px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    align-items: center;
    justify-items: baseline;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.para5 {
    width: 100%;
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* identical to box height, or 36px */
    text-align: right;
    color: #FFFFFF;
}

.place1 {
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    width: 317px;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    font-family: 'Futura';
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    align-items: center;
    /* black 40 */
    color: rgba(0, 0, 0, 0.4);
}

.btn4 {
    background: #FF6F6F;
    border-radius: 4px;
    width: 137px;
}

.h3 {
    font-family: 'Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 72px;
    /* or 200% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.services {
    background: rgba(242, 128, 119, 0.05);
    width: 100%;
}

@media screen and (max-width: 750px) {
    .fcomimg {
        width: 127px;
    }
}

.services2 {
    font-family: 'Futura';
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* Primary */
    color: #F28077;
}

.btn {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* Black */
    color: #000000;
}

.blogh2 {
    width: 100%;
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */
    /* Black */
    color: #000000;
}

.para12 {
    font-family: 'Futura';
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    /* black 60 */
    color: rgba(0, 0, 0, 0.6);
    /* Inside auto layout */
}

.category {
    font-family: 'Futura';
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Primary */
    color: #F28077;
}

.blogh1 {
    width: 100%;
    font-family: 'Didot';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */
    /* Black */
    color: #000000;
}

.para20 {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: center;
    /* Primary */
    color: #F28077;
}

.box5 {
    background: #FFFFFF;
    border: 2px dashed #F28077;
    box-sizing: border-box;
    border-radius: 8px;
}

.para19 {
    font-family: 'Futura';
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.services1 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.para14 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* black 60 */
    color: rgba(0, 0, 0, 0.6);
}

.cloths {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* Primary */
    color: #F28077;
}

.para9 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.str1 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.para25 {
    text-decoration: none;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    /* Black */
    color: #000000;
}

.cmh6 {
    width: auto;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 129% */
    /* Black */
    color: #000000;
}

.p1 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    align-items: center;
    letter-spacing: -0.015em;
    /* White */
    color: #FFFFFF;
}

.p2 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.p3 {
    font-family: 'Futura';
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    /* black 60 */
    color: rgba(0, 0, 0, 0.6);
}

.p4 {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.p5 {
    width: auto;
    font-family: 'Futura';
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    letter-spacing: -0.015em;
    color: #000000;
}

.p6 {
    font-family: 'Futura';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    align-items: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.6);
}

.p7 {
    width: auto;
    font-family: 'Futura';
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    /* black 60 */
    color: rgba(0, 0, 0, 0.6);
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.p8 {
    font-family: 'Futura';
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Black */
    color: #000000;
}