<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/gallery.css ">

    <title>Blog</title>
    <style>
        #Home {
            width: 100%;
            background: none;
            align-items: center;
            background-position: center;
            height: 400px;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"><img src="../static/css/img/fcom logo-12 1.png" alt=""></a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#Home">Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#Services">Services </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#Our Story">Our Story</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#Gallery">Gallery</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#Partner">Partner</a>
                    </li>



                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a type="link" class="whatsapp" aria-label="whatsapp">
                        <i class='bx bxl-whatsapp'></i>
                        <span class="material-icons-outlined">
                            +91 9108902222
                            </span>
                    </a>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login/Signup</button>
                </form>
            </div>
        </div>
    </nav>

    <section id="Home">
        <div class="container ">
            <div class="row">
                <div class="">
                    <div>
                        <b>Blog ><b class="category">category</b></b>
                        <h3 class="blogh3">Blog title heading will go here</h3>
                        <p class="para12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>
                        <div class="card text-center w-150">
                            <div class="card-img-top d-flex align-items-center bg-light">
                                <div>
                                    <img class="img-fluid" src="../static/css/img/blog2.png" alt="">

                                </div>
                                <p class="col p-2 m-0 para15">Cameron Williamson </p>

                                <div class="icons1 m-3 mt-5">
                                    <i class='bx bx-link-alt'></i>
                                </div>
                                <div class="icons1 m-3 mt-5">
                                    <i class='bx bxl-twitter'></i>
                                </div>
                                <div class="icons1 m-3 mt-5">
                                    <i class='bx bxl-linkedin-square'></i>
                                </div>
                                <div class="icons1 m-3 mt-5">
                                    <i class='bx bxl-facebook-circle'></i>
                                </div>
                            </div>
                            <p class="para13">11 jan 2022. min read</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
    <section id="blogimg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="../static/css/img/blog1.png" style="height: 100%;" alt="">
                </div>
            </div>
    </section>

    <section id="introduction">
        <div class="container mt-7">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Introduction</h1>
                    <p class="para16">Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris posuere vulputate arcu amet, vitae nisi,
                        tellus tincidunt. At feugiat sapien varius id.</p>
                    <p class="para16">Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel
                        et quam imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.</p>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <img src="../static/css/img/work.png" style="height: 100%;" alt="">
                        <p class="para15">Image caption goes here</p>
                    </div>
                    <p class="para16">Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet pellentesque aenean hac vestibulum turpis mi bibendum diam. Tempor integer aliquam in vitae malesuada fringilla.</p>
                    <p class="para16">Collaboratively deploy intuitive partnerships whereas customized e-markets. Energistically maintain performance based strategic theme areas whereas just in time methodologies. Phosfluorescently drive functionalized intellectual capital
                        and.
                    </p>
                    <p class="para17">
                        "Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget consectetur turpis. Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt aenean tempus."
                    </p>
                    <h1>Conclusion</h1>
                    <p class="para16">Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse.
                    </p>
                    <p class="para16">Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas condimentum mi massa. In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit dictum eget nibh tortor commodo cursus.
                    </p>
                    <p class="para16">Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec posuere pharetra odio consequat
                        scelerisque et, nunc tortor. Nulla adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere cursus diam.
                    </p>


                </div>
            </div>
        </div>
    </section>
    <section id="Post">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <strong>share this Post</strong>
                    <div class="icons1">
                        <a href=""><i class='bx bx-link-alt '></i></a>
                        <a href=""><i class='bx bxl-twitter m-2'></i></a>
                        <a href=""><i class='bx bxl-linkedin-square m-2'></i></a>
                        <a href=""><i class='bx bxl-facebook-circle m-2'></i></a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4">

                </div>
                <div class="col-lg-4 col-md-4 mt-5">

                    <a href="tagone" class="tag ">Tag one</a>
                    <a href="tagtwo" class="tag m-3">Tag two</a>
                    <a href="tagthree" class="tag m-3">Tag three</a>
                    <a href="tagfour" class="tag m-3">Tag four</a>
                </div>
            </div>
        </div>
    </section>
    <section id="blog1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card w-100">
                        <div class="card-img-top d-flex align-items-center bg-light">
                            <div>
                                <img class="img-fluid" src="../static/css/img/blog2.png" alt="Card image cap">
                            </div>
                            <p class="col p-4  m-0 para15">Cameron Williamson</p>
                        </div>
                        <p class="para13">11 jan 2022. min read</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="para18">Next blog post title goes here</p>
            </div>

        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="mainfooter">
                            <strong class="para5">Do you want to bacome a partner?</strong>
                            <input type="text" class="place" placeholder="Enter your mobile number">
                            <button type="submit" class="btn4 btn-danger">submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md- mt-2 m-2">

                        <img src="../static/css/img/fcom.png" class="img1" alt="fcom"><br>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <strong>Address</strong>
                        <p class="para2">#227, Ground Floor, 10th Main, Motappanapalya, Indiranagar, Bangalore 560 038</p>
                        <strong>Contact</strong>
                        <p class="para2">+91 9108902222 customercare@fcomindia.com
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-2">
                        <strong>About Fcom</strong>
                        <div class="links mt-2">
                            <a href="#">Our Story</a><br>
                            <a href="#">Blog</a> <br>
                            <a href="#">Contact Us</a>

                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-3 mt-2">
                        <strong>Others</strong>
                        <div class="links mt-2">
                            <a href="#">FAQs</a><br>
                            <a href="#">Our Social Responsiblity</a> <br>
                            <a href="#">Garment Care</a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-2 ">
                        <strong>Policies</strong>
                        <div class="links mt-2">
                            <a href="#">Cancellations & Refund</a><br>
                            <a href="#">Delivery</a> <br>
                            <a href="#">Privacy</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <p class="para3">2022 FCOM INDIA, All Rights Reserved</p>
                    </div>
                    <div class="col-md-6">
                        <div class="icon">
                            <a href="#instagram"><i class='bx bxl-instagram m-3'></i></a>
                            <a href="facebook"><i class='bx bxl-facebook m-3'></i></a>
                            <a href="#youtube"><i class='bx bxl-youtube m-3'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="../static/css/js/bootstrap.bundle.min.js "></script>
</body>

</html>