{% extends "public/templates/public_template.html" %} {% block title %}Home {% endblock %} {% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faqs.css') }}">

<body data-spy="scroll" data-target=".navbar">




    <section id="Home4">
        <div class="container ">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white">FAQs</h1>
                    <p class="text-white">Your questions and our simple answers</p>

                </div>
            </div>
        </div>

    </section>

    <section id="questions">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-x'></i></a>
                        <p class="text-center para7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fugiat soluta esse iusto non alias corrupti laboriosam quisquam, voluptas numquam quo autem nulla modi id dolore? Tenetur odit reprehenderit enim.</p>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                    <p class="para6">
                        This is sample question frequently asked by customers? <a href="" class="m-5"><i class='bx bx-plus'></i></a>
                    </p><br>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center answer">
                    <h6 class="h6">Don’t see the answer you need?</h6><br>
                    <p class="para7">That’s ok. Just call us at +91 9108902222 or </p><br>
                    <button class="btn">Request a Callback</button>

                </div>
            </div>
        </div>
    </section>


</body>
{% endblock %}