{% extends "public/templates/public_template.html" %} {% block title %}Home {% endblock %} {% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/garment.css') }}">

<body data-spy="scroll" data-target=".navbar">




    <section id="Home7">
        <div class="container ">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white">Garment Care</h1>
                    <p class="text-white m-3 p1">Care for our cloths is care for our planet and our future</p>

                </div>
            </div>
        </div>

    </section>


    <section id="Policies">
        <div class="Policies">
            <div class="container-fluid">
                <div class="row">
                    <p class="text-center para10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum tempus egestas sed sed risus. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend.
                    </p>
                    <div class="col-lg-6 col-md-6 mt-2">
                        <h1 class="careh1">Care 1</h1>
                        <p class="para11"></p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus excepturi pariatur minus laudantium tenetur quae repudiandae. Cupiditate sit, sed, voluptas, velit ex minus perspiciatis aperiam eveniet reprehenderit necessitatibus
                        impedit quia.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <img src="{{ url_for('static', filename='img/care1.png') }}" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 mt-2">
                        <h1 class="careh1">Care 2</h1>
                        <img src="{{ url_for('static', filename='img/care2.png') }}" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <p class="para11"></p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus excepturi pariatur minus laudantium tenetur quae repudiandae. Cupiditate sit, sed, voluptas, velit ex minus perspiciatis aperiam eveniet reprehenderit necessitatibus
                        impedit quia.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <h1 class="careh1">Care 3 </h1>
                        <p class="para11"></p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus excepturi pariatur minus laudantium tenetur quae repudiandae. Cupiditate sit, sed, voluptas, velit ex minus perspiciatis aperiam eveniet reprehenderit necessitatibus
                        impedit quia.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <img src="{{ url_for('static', filename='img/care3.png') }}" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 mt-2">
                        <h1 class="careh1">Care 4</h1>
                        <img src="{{ url_for('static', filename='img/care4.png') }}" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <p class="para11"></p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus excepturi pariatur minus laudantium tenetur quae repudiandae. Cupiditate sit, sed, voluptas, velit ex minus perspiciatis aperiam eveniet reprehenderit necessitatibus
                        impedit quia.</p>

                    </div>
                    <div class="col-lg-6 col-md-6 mt-2">
                        <h1 class="careh1">Care 5</h1>
                        <p class="para11"></p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus excepturi pariatur minus laudantium tenetur quae repudiandae. Cupiditate sit, sed, voluptas, velit ex minus perspiciatis aperiam eveniet reprehenderit necessitatibus
                        impedit quia.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5">
                        <img src="{{ url_for('static', filename='img/care5.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="help">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4"></div>
                <div class="col-lg-4">
                    <div class="call">
                        <h1 class="cloths">Do you want to donate your cloths? </h1>
                        <p class="para14 mt-2">Just call YourCharity at +91 1800 200 200 </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4"></div>
            </div>
        </div>

    </section>

</body>
{% endblock %}