{% extends "public/templates/public_template.html" %} {% block title %}Home {% endblock %} {% block main %}


<body data-spy="scroll" data-target=".navbar">




    <section id="Home8">
        <div class="container ">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white">Our Social Responsibility</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                </div>
            </div>
        </div>

    </section>
    <section id="para">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="para19">FCOM team helps local communities on various fronts. We initiate community services programs starting from identifying the needy, reaching out to donors to collect their used clothes, making necessary repairs and donating to the needy
                        communities.
                    </p>
                    <p class="para19">We also join hands with many foundations like Wall of Kindness and COVID-Emergency of 2020 to help them run community services. You can reach us any time to help your communities.</p>
                </div>

            </div>
            <div class="col text-center mt-5">
                <p class="para20">Call at +91 9108902222 or Request a call back</p>
            </div>
        </div>
    </section>
    <section id=" blogimg ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-lg-6 col-md-6 ">
                    <img src="{{ url_for('static', filename='img/social1.png') }} " alt=" ">
                </div>
                <div class="col-lg-6 col-md-6 mt-5 ">
                    <div>
                        <b class="category ">category</b>
                        <h3 class="blogh1 ">Wall of Kindness, February 2020</h3>
                        <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>

                    </div>
                </div>
            </div>
    </section>
    <section id="Policies ">
        <div class="Policies ">
            <div class="container-fluid ">
                <div class="row ">

                    <div class="col-lg-4 col-md-4 mt-2 ">
                        <img src="{{ url_for('static', filename='img/social2.png') }}" alt=" ">
                        <div>
                            <b class="category ">category</b>
                            <h3 class="blogh2 ">Title heading will go here</h3>
                            <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-2 ">
                        <img src="{{ url_for('static', filename='img/social3.png') }} " alt=" ">
                        <div>
                            <b class="category ">category</b>
                            <h3 class="blogh2 ">Title heading will go here</h3>
                            <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-2 ">

                        <img src="{{ url_for('static', filename='img/social4.png') }} " alt=" ">
                        <div>
                            <b class="category ">category</b>
                            <h3 class="blogh2 ">Title heading will go here</h3>
                            <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-2 ">

                        <img src="{{ url_for('static', filename='img/social5.png') }} " alt=" ">
                        <div>
                            <b class="category ">category</b>
                            <h3 class="blogh2 ">Title heading will go here</h3>
                            <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-2 ">

                        <img src="{{ url_for('static', filename='img/social6.png') }} " alt=" ">
                        <div>
                            <b class="category ">category</b>
                            <h3 class="blogh2 ">Title heading will go here</h3>
                            <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-2 ">

                        <img src="{{ url_for('static', filename='img/social7.png') }}" alt=" ">
                        <div>
                            <b class="category ">category</b>
                            <h3 class="blogh2 ">Title heading will go here</h3>
                            <p class="para12 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, mollitia!</p>

                        </div>
                    </div>

                </div>
            </div>
    </section>
    <section id="photos">
        <div class="container-fluid">
            <h1>photos</h1>
            <div class="row mt-4">

                <div class="col-lg-3 col-md-3">
                    <img src="{{ url_for('static', filename='img/photo4.png') }}" alt="">
                </div>
                <div class="col-lg-3 col-md-3">
                    <img src="{{ url_for('static', filename='img/photo1.png') }}" alt="">
                </div>
                <div class="col-lg-3 col-md-3">
                    <img src="{{ url_for('static', filename='img/photo2.png') }}" alt="">
                </div>
                <div class="col-lg-3 col-md-3">
                    <img src="{{ url_for('static', filename='img/photo3.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}