{% extends "public/templates/public_template.html" %} {% block title %}Home {% endblock %} {% block main %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/story.css') }}">


<body data-spy="scroll" data-target=".navbar">




    <section id="Home3">
        <div class="container ">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white">Our Story</h1>
                    <p class="text-white">Our passionate design journey</p>

                </div>
            </div>
        </div>

    </section>

    <section id="ourstory">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="para21">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ut qui dolore, assumenda praesentium molestias repellat ex architecto doloremque ducimus. Maxime id fuga inventore similique quasi ipsa, molestiae cumque hic?</p>
                    <p class="para21">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ut qui dolore, assumenda praesentium molestias repellat ex architecto doloremque ducimus. Maxime id fuga inventore similique quasi ipsa, molestiae cumque hic?</p>
                    <p class="para21">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ut qui dolore, assumenda praesentium molestias repellat ex architecto doloremque ducimus. Maxime id fuga inventore similique quasi ipsa, molestiae cumque hic?</p>
                    <p class="para21">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ut qui dolore, assumenda praesentium molestias repellat ex architecto doloremque ducimus. Maxime id fuga inventore similique quasi ipsa, molestiae cumque hic? Lorem
                        ipsum dolor sit amet consectetur, adipisicing elit. Commodi quidem esse iure perferendis maiores corrupti quisquam tempora perspiciatis ipsum, incidunt pariatur tempore voluptates quia libero vitae error eveniet totam explicabo
                        veritatis modi. Distinctio debitis natus ducimus soluta cum optio.</p>

                </div>
            </div>
        </div>

    </section>
    <section id=" hiring">
        <div class="container ">
            <div class="row">
                <div class="text-center">
                    <h1 class="text-center h11">We’re hiring!</h1>
                    <p class="para6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <button type="button" class="btn">Open Position</button>
                </div>
            </div>
        </div>
    </section>

    <section id="Snapshots">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="h2">Snapshots</h2>
                        <a href="#Blog" class="link m-3">Blog</a>

                        <a href="#CSR" class="link m-3">CSR</a>

                        <a href="#Instagram" class="link m-3">Instagram</a>
                        <a href="#Facebook" class="link m-3">Facebook</a>
                        <a href="#Youtube" class="link m-3">Youtube</a>
                    </div>
                </div>
            </div>
            <div class="row mt-5 ">
                <div class="col-lg-4 col-md-4" style="background: #FFF4F4;
                border-radius: 16px;">
                    <div class="img ">
                        <img src="{{ url_for('static', filename='img/snapshots.png') }}" alt="snapshots">
                    </div>
                    <div class="p-4">
                        <h6 class="h6">Know where you get</h6>
                        <small>04/April/2022</small>
                        <div class="hline">
                            Wondering where you can get a stunning blouse stitching done at affordable prices? Look no further, FCOM is here to sort out all your blouse woes!
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background: #FFF4F4;
                border-radius: 16px;">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/snapshots.png') }}" alt="snapshots">
                    </div>
                    <div class="p-4">
                        <h6 class="h6">Know where you get</h6>
                        <small>04/April/2022</small>
                        <div class="hline">
                            Wondering where you can get a stunning blouse stitching done at affordable prices? Look no further, FCOM is here to sort out all your blouse woes!
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="background: #FFF4F4;
                border-radius: 16px;">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/snapshots.png') }}" alt="snapshots">
                    </div>
                    <div class="p-4">
                        <h6 class="h6">Know where you get</h6>
                        <small>04/April/2022</small>
                        <div class="hline">
                            Wondering where you can get a stunning blouse stitching done at affordable prices? Look no further, FCOM is here to sort out all your blouse woes!
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="comments">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="img2">
                        <img class="colon" src="{{ url_for('static', filename='img/colon.png') }}" alt="colon">
                        <img src="{{ url_for('static', filename='img/one.png') }}" alt="one">
                    </div>
                </div>
                <div class="col-md-8">
                    <h6>john Doe</h6>
                    <div class="stars">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>

                        <i class="bx bxs-star"></i>

                        <i class="bx bxs-star"></i>

                        <i class="bx bx-star"></i>
                    </div>
                    <p class="para">This was my first experience ordering a custom tailored suit. The staff was super helpful and professional and I got what I wanted for my upcoming wedding. I am really grateful to FCOM.</p>

                    <p class="para">
                        < 02/14>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>
{% endblock %}