{% extends "public/templates/public_template.html" %} {% block title %}Home {% endblock %} {% block main %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<body data-spy="scroll" data-target=".navbar">




    <section id="Home2">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="mainh1">Alone we can do so little; together we can do so much</h1>
                    <p class="text-white para2">We help you achieve the best fit for your garments. Our services include alterations, custom stitching, restyling, upcycling and more</p>
                    <a href="#Register" class="btn1 btn-white m-2">Register</a>
                    <a href="Request Call Back" class="btn1 btn-white m-2">Request Call Back</a><br>
                    <p class="para4 mt-5">We also offer 48 Hour Express Service</p>
                </div>
            </div>
        </div>

    </section>

    <section id="howitworks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center justify-content-center">
                        <h2 class="h2">How it Works </h2>
                        <p class="p2">Enjoy free pickup/delivery and onspot alterations on all order</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 p-4">
                    <div class="icon-box">
                        <i class='bx bx-phone-call'></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 p-4">
                    <div class="icon-box">
                        <i class='bx bxs-file-plus'></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 p-4">
                    <div class="icon-box">
                        <i class='bx bx-cart'></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 p-4">
                    <div class="icon-box">
                        <i class='bx bxs-truck'></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <img src="{{ url_for('static', filename='img/line.png') }}" alt="">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="#Book An Appointment" class>
                        <h5 class="title-sm mt-4">Register</h5>
                    </a>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="#Book An Appointment" class>
                        <h5 class="title-sm mt-4">Verification</h5>
                    </a>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="#Book An Appointment" class>
                        <h5 class="title-sm mt-4">Approval</h5>
                    </a>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="#Book An Appointment" class>
                        <h5 class="title-sm mt-4">Cogratualations</h5>
                    </a>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    </section>
    <section id="services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="image">
                        <img src="{{ url_for('static', filename='img/women.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                    <div class="Services">
                        <h2 class="h2">Services</h2>
                        <p class="mt-1 p3">We offer personalized and high quality services at affordable rates</p>
                        <h4 class="h4">Starting @ ₹69</h4>
                        <h3 class="text-center serviceh3">Alterations</h3>
                        <h3 class="text-center serviceh3">Custom Stiching </h3>
                        <h3 class="text-center serviceh3">Restyling & Refitting</h3>
                        <h3 class="text-center serviceh3">Repurposing </h3>
                        <h3 class="text-center serviceh3">Dyeing & Darning </h3>
                        <h3 class="text-center serviceh3">Design Consultation </h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="services1 mt-5">
                                        <a href="#women" class="services1 mt-3">For all categories - Men, Women, Kids and More</a>
                                        <a href="#viewall" class="services2 mt-3 m-3">View all services</a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="number">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h1 class="h1">5300</h1>
                    <p class="p4">Satisfied Customers</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h1 class="h1">15760</h1>
                    <p class="p4">Orders Delivered</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h1 class="h1">175</h1>
                    <p class="p4">Partners</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h1 class="h1">17</h1>
                    <p class="p4">Locations served across world</p>
                </div>
            </div>
        </div>

    </section>
    <section id="Benifits">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="h2 text-center p-4 ">Benefits</h2>
                        <p class="p6 m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 mt-2 ">
                    <div class="choose">
                        <h6 class="h6">Easy Setup</h6>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mt-2">
                    <div class="choose">
                        <h6 class="h6">Timely Payments</h6>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mt-2">
                    <div class="choose">
                        <h6 class="h6">Unlimited Work</h6>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mt-2">
                    <div class="choose">
                        <h6 class="h6">Digital</h6>
                        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="Snapshots">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="h2">Snapshots</h2>
                        <a href="#Blog" class="link m-3">Blog</a>

                        <a href="#CSR" class="link m-3">CSR</a>

                        <a href="#Instagram" class="link m-3">Instagram</a>
                        <a href="#Facebook" class="link m-3">Facebook</a>
                        <a href="#Youtube" class="link m-3">Youtube</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/snapshots.png') }}" alt="snapshots">
                    </div>
                    <div class="p-4" style="background: #FFF4F4;
                    border-radius: 16px;">
                        <h6 class="h6">Know where you get</h6>
                        <small>04/April/2022</small>
                        <div class="hline">
                            <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/snapshots.png') }}" alt="snapshots">
                    </div>
                    <div class="p-4" style="background: #FFF4F4;
                    border-radius: 16px;">
                        <h6 class="h6">Know where you get</h6>
                        <small>04/April/2022</small>
                        <div class="hline">
                            <p class="p5">Wondering where you can get a stunning blouse stitching done at affordable prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/snapshots.png') }}" alt="snapshots">
                    </div>
                    <div class="p-4" style="background: #FFF4F4;
                    border-radius: 16px;">
                        <h6 class="h6">Know where you get</h6>
                        <small>04/April/2022</small>
                        <div class="hline">
                            <p class="p5"> Wondering where you can get a stunning blouse stitching done at affordable prices? Look no further, FCOM is here to sort out all your blouse woes!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="comments">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="img2 d-flex">
                        <img class="colon" src="{{ url_for('static', filename='img/colon.png') }}" alt="colon">
                        <img src="{{ url_for('static', filename='img/one.png') }}" alt="one">
                    </div>
                </div>
                <div class="col-md-8">
                    <h6 class="cmh6">john Doe
                        <i class="bx bxs-star stars"></i>
                        <i class="bx bxs-star stars"></i>

                        <i class="bx bxs-star stars"></i>

                        <i class="bx bxs-star stars"></i>

                        <i class="bx bxs-star stars"></i>

                    </h6>

                    <p class="p7">This was my first experience ordering a custom tailored suit. The staff was super helpful and professional and I got what I wanted for my upcoming wedding. I am really grateful to FCOM.</p>

                    <b class="p8 mt-5">
                        < 02/14>
                    </b>
                </div>
            </div>
        </div>
    </section>

</body>

{% endblock %}