{% extends "public/templates/public_template.html" %} {% block title %}Home {% endblock %} {% block main %}

<body data-spy="scroll" data-target=".navbar">




    <section id="Home9">
        <div class="container ">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-white">Policies</h1>
                    <p class="text-white">Complete customer satisfaction</p>

                </div>
            </div>
        </div>

    </section>

    <section id="Policies">
        <div class="Policies">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 text-center mt-5">
                        <a href="#refund" class=" mt-2 para9">cancellation & Refund</a><br>
                        <a href="#Delivery" class="mt-2 para9">men</a><br>
                        <a href="#Privacy" class="mt-2 para9">kid</a><br>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <p class="para9">Our focus is complete customer satisfaction. In the event, if you are displeased with the services provided, we will return back the money / not charge for the services, provided the reasons are genuine and proved after investigation.</p>
                        <p class="para9">Please talk to the customer care incase you have any queries regarding the services. In case of dissatisfaction from our services, clients have the liberty to cancel their orders and request a refund from us.</p>
                        <p class="para9"> Our Policy for the cancellation and refund will be as follows:</p>
                        <strong>Cancellation Policy</strong>
                        <p class="para9">For Cancellation of order, please contact us on customer care number (+91 9108902222).</p>
                        <p class="para9">Requests received later than 2 business days from the day of order placed,will be treated as order to go.</p>
                        <p class="para9">After the delivery, if there are any changes, please place a request with in 15 days, if we do not receive any queries, we would not attend to it.</p>
                        <strong>Refund Policy</strong>
                        <p class="para9">We will try our best to create suitable designs, deliver quality service each time and every time.</p>
                        <p class="para9"> In case any client is not completely satisfied with our products we can provide a refund in the suitable format.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}